#back { 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body{
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    font-size:15px;
    color: #fff;
    text-transform:uppercase;
    overflow-x:hidden;
    text-decoration: none;
    background-color: black;
}
h1{
    font-size:75px;
    position:absolute;
    font-weight:normal;
    left: 20px;
    color: #3DA7E1;
}

a.white:link {
text-decoration : none; 
color : #ffffff; 
}
a.white:visited {
text-decoration : none; 
color : #ffffff; 
}
a.white:active {
text-decoration : none; 
color : #ffffff; 
}
a.white:hover {
text-decoration : none; 
color : #ffffff; 
}

.bmenu{
    padding: 50px 0px;
    margin: 0 auto;
    position: relative;
    background: black;
    width: 450px;
    height: 350px;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    border-radius: 250px;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

.bmenu:hover{
    background: white;
}

.bmenu li{
    font-size: 40px;
    display: block;
    line-height: 66px;
}

.bmenu li a{
    white-space: nowrap;
    color: white;
     display: block;
     text-align: center;
     text-transform: uppercase;
     text-shadow: 0px 0px 3px #fff;
     letter-spacing: 1px;
     -moz-transform: scale(0.8);
     -ms-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transform: scale(0.8);
     transform: scale(0.8);
     -webkit-transition: all 0.4s linear;
     -moz-transition: all 0.4s linear;
     -o-transition: all 0.4s linear;
     -ms-transition: all 0.4s linear;
     transition: all 0.4s linear;
}


.bmenu li a:hover{
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
}
